WORKAGENTS_REMOTE_ENVIRONMENT=dev
WORKAGENTS_REMOTE_LISTEN=127.0.0.1:8787
WORKAGENTS_REMOTE_DATABASE=/var/lib/workagents-remote-dev/remote.sqlite3
WORKAGENTS_REMOTE_PUSH_TOKEN_KEY=PENDING_32_BYTE_BASE64URL_KEY
WORKAGENTS_REMOTE_HUAWEI_PUSH_SEND_URL=https://push-api.cloud.huawei.com/v3/PENDING_PROJECT_ID/messages:send
WORKAGENTS_REMOTE_HUAWEI_PUSH_SERVICE_ACCOUNT_JSON_B64=PENDING_UNPADDED_BASE64URL_SERVICE_ACCOUNT_JSON


